
.rbc {
  margin-bottom: 2%;
}

.CodeMirror.cm-s-default {
    display:none;
}

.rbc-title.col.s12.col-xs-12 {
	height: 60px;
}

.CodeMirror.cm-s-default {
	display: block !important;
	box-sizing: border-box;
    vertical-align: middle;
    width: 525px;
    height: 100px;
    margin-top: 2px;
    font-family: "Lato Regular";
    font-size: 16px;
}
.tabspace {
	padding-left: 1.5em;
}

.tabspace2 {
	padding-left: 1.5em;
}

.help {
	padding: 1% 1% 1% 2%;
}

.margin1 {
	margin: 1%;
    background-color: #1893e7;
}

strong {
	font-weight: bold;
}

code {
	font-size: 15px;
}

.abrow {
	margin: 2% 2% 2% 2%;	
}

.flexend {
	margin: 2%;
	display: flex;
}

.fixheight {
	height: 90vh;
	overflow-y: scroll;
	margin-top: 1%;
}

.fixwindow {
	height: 100vh;
}

input.reacttxt {
width: 259px;
}

.edit {
	height: 180px;
	padding: 5px;
}

.reacttxt {
	width: 259px;
}

.maps-button {
	left: 180px;
    top: 2px;
}

.rbc.rbc-reactivemap .rbc-title {
	left: 60px;
    top: 5px;
}

.rbc-title.col.s12.m8.col-xs-12.col-sm-8  {
	height: 40px;
	background: none;
	padding: 0;
    box-shadow: none;
}

.labelclass {
	display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 5px;
    padding-top: 30px;
    padding-left: 15px;
    /*text-align: right;*/
    width: 80px;
    font-size: 13px;
    color: rgb(68, 68, 68);
    text-transform: lowercase;
    font-weight: 600;
}
tr td{
	margin-top: 0px;
	padding-top: 0px;
}
.lowpadding {
	/*background-color: #eff0f1;*/
	/*border-style: solid;*/
	/*border-color: black;*/
	/*border-width: 10px;*/
	text-align: left;
	/*width: 300px;*/
	/*height: 150px;*/
	/*color: black;*/
	word-wrap: normal;
	margin:-15px -8px -10px -3px;
	padding: 5px 5px 5px 5px;
}

.error {
	font-size: medium;
    color: red;
    font-family: inherit;
}

.fa.fa-info-circle.fa-1g {
	line-height: 27px;
	font-size: 19px;
	vertical-align: top;
}

.rbc-blue .info-btn {
	width: 25px;
    height: 25px;
    margin-left: 22px;
    color: #777;
}

.modal {
	border-style: solid;
    border-width: 5px;
    border-color: #4285f4;
}

.closebutton {
	float: right;
    margin: 1%;
    color: #4285f4 !important;
    font-size: 29px;

}

.tableclass {
	display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
}

.CodeMirror-lines{ 
    cursor: text;
    min-height: 1px;
    padding-top: 10px !important;
}

label {
	font-family: "Lato Bold";
	font-size: 21px;
}

.ReactCodeMirror {
	display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    width: 630px;
    outline: none;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 2px;
    font-size: 13px;
    padding: 5px;
    color: rgb(85, 85, 85);
    font-family: monospace;
    height: 125px;
}

.rbc.rbc-datasearch {
	z-index: inherit;
}

.pane1 {
	flex: 1 1 0%;
    position: relative;
    outline: none;
}

.pane2 {
	background-color: white;
}

h5 {
	color: #777;
	padding-left: 100px;

}

.rbc-blue a {
    color: #000;
}

nav .brand-logo {
    /*position: absolute;*/
    color: #000;
    /*display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;*/
}

.b_edit {
    width: 50px;
    height: 40px;
    padding-left: initial;
    padding-right: initial;
    margin-top: 10px;
    background-color: #1dcaff;
    /*color: #1dcaff;*/
}

.btn:hover, .btn-large:hover {
    background-color: #1893e7;
}

.button:hover {
    background-color: #1dcaff; /* Green */
    color: #1dcaff;
}

.intro {
    float: right;
    margin: 0 20px 10px 10px;
}

.intro:hover {
    text-decoration: underline;
}

code {
    white-space: pre;
}
